<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved. 
 * See COPYING.txt for license details.
 */
// @sms verification block template
if (($block->getOrderStore() == "pk" || $block->getOrderStore() == "default") and $block->getOrderPaymentMethod() == "cashondelivery") {
    ?>

    <style>
        .checkout-success {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .checkout-success label {
            white-space: normal;
            font-size: 13px;
            margin: 0 0 15px;
        }
        .checkout-success .title {
            margin: 0 0 20px;
            font: 25px/30px 'AvenirLTStd-Heavy', Arial, Helvetica, sans-serif;
        }
        .checkout-success .actions-toolbar > .primary {
            float: none;
        }
    </style>

    <div class="error-page thanks-page cms-content">
        <div class="block">
            <div class="holder">
                <div class="frame">
                    <h1 id="thankyou" style="display:none;">Thank you</h1>
                    <div class="block sms_verify" id="block-sms-verify">
                        <div class="title" data-role="title">
                            <strong id="block-sms-heading" role="heading" aria-level="2">
                                <?php /* @escapeNotVerified */ echo __('Order Verification') ?>
                            </strong>
                        </div>
                        <div class="content sms-verification-form" data-role="content" aria-labelledby="block-discount-heading">
                            <form id="verification-code-form" class="order-verification" action="#" method="post">
                                <div class="fieldset verify-code">
                                    <div class="field">
                                        <label for="verification_code" class="label">
                                            <span>
                                                <?php
                                                /* @escapeNotVerified */
                                                echo __('Please enter the verification code which you have received via SMS, <br>If you have not received an SMS do not be alarmed a customer service representative will be in touch with you shortly.')
//
                                                ?></span>
                                        </label>
                                        <div class="control">
                                            <input type="hidden" name="id" value="<?php echo $block->getSmsOrderId(); ?>">
                                            <input type="text" class="input-text" id="verification_code" name="verification_code" value="" placeholder="<?php echo $block->escapeHtml(__('Enter verification code')); ?>" />
                                        </div>
                                    </div>
                                    <div class="actions-toolbar">                    
                                        <div class="primary">
                                            <button class="action apply primary verify-sms" value="<?php echo __('Verify Order') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Verify Order') ?></span>
                                            </button>
                                        </div>


                                    </div>                
                                </div>
                            </form>
                            <!--  <div class="secondary ">
                                 <br>  <h2>OR</h2>
                                   <p>If you placed your order using a mobile device you can confirm your order via whatsapp by pressing button below. </p>
                                     <button onclick="location.href='whatsapp://send?text=Hello Khaadi! Please confirm my order number=<?php // echo $block->getSmsOrderId();    ?>&phone=+923064106610'" class="action apply primary verify-sms" value="<?php // echo __('Verify via Whatsapp')    ?>">
                                         <span><?php /* @escapeNotVerified */ echo __('Verify via Whatsapp') ?></span>
                                     </button>
                             </div 
                         </div>-->

                            <div class="verification-notice">
                                <p class="code-error" style="display:none">
                                    You have entered Invalid code please try again.
                                </p>
                                <p class="code-success" style="display:none">
                                    for shopping at Khaadi! <br><br>
                                    Your order is confirmed. You will receive an email shortly with your order details.
                                    <br>
                                    <a href="/feedback">Share your feedback</a>
                                </p>
                                <p class="code-invalid" style="display:none">
                                    Some error occurred during validation, Please try again.
                                </p>
                            </div>

                            <script>
                                require(
                                    ['Webworks_Sms/js/verify'],
                                    function (verify) {

                                        var ajaxurl = '<?php echo $block->getAjaxUrl() ?>';
                                        verify.verifyData(ajaxurl);

                                    });
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<?php } ?>
